body {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  background-color: rgb(204, 152, 85);
}
#home {
  background-color: #532b0f;
  /*background-image: url('https://codeinstitute.s3-eu-west-1.amazonaws.com/CSSEssentials/coffeehouse.jpg');*/
}
.main-picture{
  width: 100%;
}
.page-header {
  height: 200px;
  background: center 75% / cover no-repeat;
}
.text-center {
  text-align: center;
}

#text-center {
  text-align: center;
  padding: 5px 10px 5px 10px;
}

#text-shrink {
  text-align: center;
  padding: 5px 50px 5px 50px;
}

.flex {
  display: flex;
}

.horizontal-center {
  justify-content: center;
}

.vertical-center {
  align-self: center;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 0;
}
h2 {
  text-align: center;
  color: bisque;
  background-color: black;
  margin: 0px;
  padding: 5px 0px 10px 0px;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}
header {
  color: bisque;
}

.black-background {
  background-color: black;
}

.text-uppercase {
  text-transform: uppercase;
}

nav > a {
  text-decoration: none;
  color: beige;
  margin: 1rem;
}

nav {
  display: block;
  unicode-bidi: isolate;
  padding: 1rem;
  font-family: "Times New Roman", Times, serif;
}
nav > a:hover {
  color: lightblue;
}

.one-third-width-column {
  width: 33.33%;
}

.two-thirds-width-column {
  width: 66.66%;
}

.vertical-align {
  align-self: flex-start;
}

.text-box {
  margin-block-start: 5px;
  text-align: justify;
  padding: 0 0 0 2px;
}

.shedule-box {
  padding: 2px 0px 25px 2px;
  border-radius: 8px;
  width: 100%;
  margin: 0px 0px 10px 0px;
  background-color: chocolate;
  position: relative;
  text-align: center;
  top: 30px;
}

.top-margin {
  margin-top: 0;
}

.text-size {
  font-size: 15px;
}

#modern-day-box {
  background-color: chocolate;

  text-align: justify;
  padding: 5px 10px 5px 10px;
  border-radius: 10px 10px 10px 10px;
}

.event-background {
  background-color: black;
}

.text-white {
  color: white;
}

.picture-disc {
  font-size: x-small;
}

.first-perfomer-0ne-third-column {
  background-color: black;
  margin-left: -20px;
}

.second-perfomer-one-third-column {
  background-color: black;
}

.third-perfomer-0ne-third-column {
  background-color: black;
  margin-right: -20px;
}

#history-box {
  padding: 1rem 0;
  margin-bottom: 80px;
  background-image: url("../images/coconut shell torch.jpg");
}

.photo-box {
  width: 33%;
  margin: 1rem 0;
  display: inline-block;
  background-color: brown;
  height: 220px;
}
#first-image-box {
  background: brown url("../images/old-Perahara.png") center center/ 300px 200px
    no-repeat;
}

#second-image-box {
  background: brown url("../images/Temple\ of\ Tooth\ &\ Lake.png") center
    center/ 300px 200px no-repeat;
}
#third-image-box {
  background: brown url("../images/dalada-perahera-history1.jpg") center center/
    300px 200px no-repeat;
}

#box-size {
  height: 300px;
}

.bold {
  font-weight: bold;
}

footer {
  background-color: #58483c;
  padding: 1em;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
}

footer > span {
  color: silver;
}

footer > a {
  color: beige;
  text-decoration: none;
  padding: 0 15px;
  font-size: 0.8rem;
}

footer > p {
  color: silver;
}

/* 
input[type=submit] {
	margin-top: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color: #5e361b;
	color: white;
	border: none;
	border-radius: 5px;
}

input[type=text],
input[type=email],
input[list=coffees] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
}

overrides css above 
input[list=coffees] {
    width: 45%;
}

select {
    height: 30px;
    width: 100px;
    padding-left: 10px;
}

form {
	width: 700px;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: white;
}

.block-label {
	display: block;
}

legend {
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px 0 10px 0;
}

label {
    margin: 10px 15px 5px 0;
}

.checkboxes-box div {
    margin-top: 15px;
}

#reasons li {
    margin-top: 5%;
}

#terms {
    height: 200px;
    width: 90%;
    padding: 0.5rem;
    margin: 1.5rem 0 0 15px;
    border: 1px solid grey;
    overflow: scroll;
}

/* map */
#map-wrapper {
  height: 300px;
  margin-bottom: 101px;
}

#map {
  height: 100%;
  width: 100%;
  border: none;
}

/*
.intro-box{
    height: 200px;
    width: 1500;
   
   }

 #left-1{
  width: 1000px;
  image-rendering: unset;
 }

#right-2{
    position: relative;
  left: 1000px;
    height: 200px;
    width: 300px;
    top: -200px;
}


.intro-sec{
    width: 500px;
    height: 200px;
    /*border: 5px solid rgb(16, 169, 80);
    /* FLEX PARENT PROPERTIES */
/*display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
/* align-items:right;
    flex-direction: row;
    left: 500px;
}
*/
/*
.intro-para {
    background-color: orangered;
    text-align: center;
    font-size: 20px;
width: 200px;
    margin: 5px;
    align-items: center;
    
    
}

.body{
    background-color: rgb(234, 240, 242);
    background-image: url("../images/pexels-larissafarber-30975332.jpg" );
}



*/
