
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




body {
  min-height: 100vw;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", Arial, sans-serif;
   
 
  }

main{
  background-color: rgb(204, 152, 85);
  flex: 1 0 auto;
  font-size: large;
  line-height: 30px;
  
}

.bold {
  font-weight: bold;
}

#home {
  background-color: #532b0f;
}

.page-header {
  background: center 75% / cover no-repeat;
  width: 100%;
  padding: 1rem 1rem;
}

#contact {
  margin-bottom: 50px;
}

.top-margin {
  margin-top: 0;
}

.capitalize{
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
  
}

.text-center {
  text-align: center;
}

#text-center {
  text-align: center;
  padding: 5px 10px 5px 10px;
}

#text-shrink {
  text-align: center;
  padding: 5px 50px 5px 50px;
}

.text-size {
  font-size: 15px;
}



.text-box {
  margin-block-start: 5px;
  text-align: justify;
  padding: 0 2px 0 2px;
}

.text-white {
  color: white;
}


th,
td {
  border-bottom: 1px solid black;
}

ul, ol {
padding: 0;
list-style-type: none;
}



.black-background {
  background-color: black;
  width: 100%;

}

.black{
  color:black;
}

.event-background {
  background-color: black;
}



.photo-box {
  width: 33%;
  margin: 1rem 0;
  display: inline-block;
  background-color: brown;
  height: 300px;
}

.picture-disc {
  font-size: small;
}

.hundred-picture{
  width: 100%;
}

.twin-drum-picture{
  width: 35%;
}

.sixty-five-picture{
  width: 65%;
}
.fourty-picture{
  width: 40%;
}


.flex {
  display: flex;
/* flex: 1 1 auto;
  align-items: center; */
}

.horizontal-center {
  justify-content: center;
}

.vertical-center {
  align-self: center;
}

.vertical-top {
  align-self: flex-start;
}

.wrap{
  flex-wrap: wrap;
}

.last {
  order: 1;
}

.gap-20 {
  gap: 20px;
}


.vertical-align {
  align-self: flex-start;
}



.contact-boxes-container {
  height: 150px;
}

.contact-box {
  flex: 0 250px;
  height: 250px;
}

.shedule-box {
  padding: 2px 0px 25px 2px;
  border-radius: 8px;
  width: 100%;
  margin: 0px 0px 10px 0px;
  background-color: chocolate;
  position: relative;
  text-align: center;
  top: 30px;
}

#modern-day-box {
  background-color: chocolate;
  text-align: justify;
  padding: 5px 10px 5px 10px;
  border-radius: 10px 10px 10px 10px;
}


#history-box {
  padding: 1rem 0;
  background-image: url("../images/Coconut-shell-torch.jpg");
}


#first-image-box {
  background: brown url("../images/old-Perahara.png") center center/ 300px 200px
    no-repeat;
}

#second-image-box {
  background: brown url("../images/Temple\ of\ Tooth\ &\ Lake.png") center
    center/ 300px 200px no-repeat;
}
#third-image-box {
  background: brown url("../images/dalada-perahera-history1.jpg") center center/
    300px 200px no-repeat;
}

#box-size {
  height: 300px;
}




h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 0;
}
h2 {
  text-align: center;
  color: bisque;
  background-color: black;
  margin: 0px;
  padding: 5px 0px 10px 0px;
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}
header {
  color: bisque;
}




nav > a {
  text-decoration: none;
  color: beige;
  margin: 1rem;
}

nav {
  display: block;
  unicode-bidi: isolate;
  padding: 1rem;
  font-family: "Times New Roman", Times, serif;
}
nav > a:hover {
  color: lightblue;
}



.one-third-width-column {
  width: 33.33%;
}

.two-thirds-width-column {
  width: 66.66%;
}


.first-perfomer-0ne-third-column {
  background-color: black;
  margin-left: -20px;
}

.second-perfomer-one-third-column {
  background-color: black;
}

.third-perfomer-0ne-third-column {
  background-color: black;
  margin-right: -20px;
}


#map-wrapper {
  height: 300px;
  margin-bottom: 110px;
 
}

#map {
  height: 100%;
  width: 100%;
  border: none;
}


footer {
  background-color: #58483c;
  padding: 1em 1em 0.5em 1em;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
  font-size: medium;
}

footer > span {
  color: silver;
}

footer > a {
  color: beige;
  text-decoration: none;
  padding: 0 15px;
  font-size: 0.8rem;
}

footer > p {
  color: silver;
}

/* 
input[type=submit] {
	margin-top: 20px;
	margin-left: 0.75rem;
	padding: 0.75rem;
	background-color: #5e361b;
	color: white;
	border: none;
	border-radius: 5px;
}

input[type=text],
input[type=email],
input[list=coffees] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
	margin: 0 auto;
}

overrides css above 
input[list=coffees] {
    width: 45%;
}

select {
    height: 30px;
    width: 100px;
    padding-left: 10px;
}

form {
	width: 700px;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: white;
}

.block-label {
	display: block;
}

legend {
	font-size: large;
	font-weight: 600;
	text-transform: uppercase;
	margin: 20px 0 10px 0;
}

label {
    margin: 10px 15px 5px 0;
}

.checkboxes-box div {
    margin-top: 15px;
}

#reasons li {
    margin-top: 5%;
}

#terms {
    height: 200px;
    width: 90%;
    padding: 0.5rem;
    margin: 1.5rem 0 0 15px;
    border: 1px solid grey;
    overflow: scroll;
}

/* map */


/*
.intro-box{
    height: 200px;
    width: 1500;
   
   }

 #left-1{
  width: 1000px;
  image-rendering: unset;
 }

#right-2{
    position: relative;
  left: 1000px;
    height: 200px;
    width: 300px;
    top: -200px;
}


.intro-sec{
    width: 500px;
    height: 200px;
    /*border: 5px solid rgb(16, 169, 80);
    /* FLEX PARENT PROPERTIES */
/*display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
/* align-items:right;
    flex-direction: row;
    left: 500px;
}
*/
/*
.intro-para {
    background-color: orangered;
    text-align: center;
    font-size: 20px;
width: 200px;
    margin: 5px;
    align-items: center;
    
    
}

.body{
    background-color: rgb(234, 240, 242);
    background-image: url("../images/pexels-larissafarber-30975332.jpg" );
}



*/
